body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  background: lightgrey;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.App header {
  height: 50px;
  background: black;
  width: 100%;
  clear: both;
  color: white;
  font-size: 48px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.colon {
  animation: blink 1s 1s infinite;
  font-size: 48px;
  position: relative;
  top: -8px;
}

.digit {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid;
  box-sizing: border-box;
}

.up {
  transform: rotateX(82deg);
  transform-origin: top;
  transform-style: preserve-3d;
  opacity: 0;
  z-index: 10;
  transition-delay: 0.5s;
}

.down {
  transform: rotateX(0deg);
  transform-origin: top;
  transform-style: preserve-3d;
  opacity: 1;
  z-index: 20;
  transition: transform 0.5s;
}

.digitContainer {
  height: 100px;
  width: 100px;
  position: relative;
  display: flex;
  perspective: 300px;
}
/*
.digitContainer:nth-of-type(odd) {
  right: -1px;
}*/


.clockContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
