body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
  font-size: 96px;
  background: url('/shattered.png');
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.App header {
  height: 50px;
  background: url('/ep_naturalblack.png');
  width: 100%;
  clear: both;
  color: white;
  font-size: 48px;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.colon {
  animation: blink 1s 0.75s infinite;
  font-size: 124px;
  position: relative;
  top: -20px;
}

.digit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: url('/ep_naturalblack.png');
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #3d3d3d;
  box-sizing: border-box;
}

.up {
  transform: rotateX(73deg);
  transform-origin: top;
  transform-style: preserve-3d;
  opacity: 0;
  z-index: 10;
  transition-delay: 0.5s;
}

.down {
  transform: rotateX(0deg);
  transform-origin: top;
  transform-style: preserve-3d;
  opacity: 1;
  z-index: 20;
  transition: transform 0.5s;
}

.digitContainer {
  height: 200px;
  width: 200px;
  position: relative;
  display: flex;
  perspective: 500px;
}

.clockContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
